"web_app": {
    "class": "Application",
    "template": "https",
    "serviceMain": {
        "class": "Service_HTTPS",
        "virtualAddresses": [
            "{{private_ip}}"
        ],
        "profileAccess": {
             "bigip": "/Common/simple-policy"
         },
        "pool": "app_pool",
        "serverTLS": "webtls"
    },
    "app_pool": {
        "class": "Pool",
        "monitors": [
            "tcp"
        ],
        "members": [
            {
                "servicePort": 80,
                "serverAddresses": [
		    "{{pool_member}}"
                ]
            }
        ]
    },
    "Certificate": {
        "certificate": {
            "bigip": "/Common/default.crt"
        },
        "privateKey": {
            "bigip": "/Common/default.key"
        },
        "class": "Certificate"
    },
    "webtls": {
      "certificates": [
          {
            "certificate": "Certificate"
          }
      ],   
      "class": "TLS_Server"
    }
      
}
